@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&display=swap');
*{
    font-family: 'Gemunu Libre', sans-serif;
}
h1{
    color: gray;
    text-align: center;
}
p{
    color: gray;
}
body{
    background-image: url(../imagenes/portada.webp);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}