@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&display=swap');
*{
    font-family: 'Gemunu Libre', sans-serif;
}
h1{
    color: blue;
    text-align: center;
}
p{
    color: gray;
}