@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');
*{
    font-family: 'Inconsolata', monospace;
    margin:0;
    padding:0;
}
.fond{
    background-image: url("../imagenes/portada.webp");
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-size: cover;
    background-position: bottom left;
}
header{
    position:relative;
    top:180px;
    left:0;
    width:100%;
    height:200px;
    margin-top: 100px;
    text-align: center;
}
header>h1{
    color: rgba(1,1,1,.7);
    font-size: 120px;
    text-align: center;
}
header>h1:hover{
    color: black;
    background-color: rgba(0, 2, 1, .4);
}
.circle>img{
    width:300px;
    height:300px;
    border-radius:150px;
    border:10px solid #666;
    display:none;
}
header>h1:hover .circle>img{
    display:block;
}
h2{
    text-align: center;
}

/*--------------------menu*/
.menu{
    z-index:100;
}
nav{
    position: fixed;
    text-align: center;
    background-color: rgba(0,0,0,.6);
    margin-top:-100px;
    width:100%;
    height:40px;
}
a{
    text-decoration:none;
    color: white;
}
nav ul, nav li{
    display:inline-block;
    list-style-type: none;
    margin-top: -7px;
    padding: 10px 35px 10px 35px;
    font-size: 25px;
}
nav>ul>li>ul{
    position: absolute;
    list-style: none;
    opacity: 0;
    margin-top: 10px;
    width: 175px;
    display: none;
    border-radius: 15px;
    float: left;
    background-color: rgba(255,255,255,.4);
}
nav>ul>li:hover ul {
    text-align: left;
    display: block;
    opacity: 1;
    color: white;
}
.sub{
    position: absolute;
    opacity: 0;
    margin-top: 10px;
    width: 175px;
    display: none;
    border-radius: 15px;
    float: left;
    background-color: rgba(1,1,1,.8);
}
nav>ul>li>ul>li:hover .sub {
    text-align: left;
    display: inline-block;
    opacity: 1;
    color: white;
}
/*------------------------*/

section>.tres{
    width: 33%;
    height: 500px;
    float: left;
    padding: 1px;
    margin-left:3px;
}
#sob{
    position:absolute;
    top:100%;
}
section>h2{
    padding:5px;
    font-size:30px;
    border-top:1px solid black;
}
.inferior{
    position:absolute;
    width:100%;
    margin-top:0;
    margin-bottom:0;
}
#izq{
    background-color:rgba(255,255,255,.5);
}
#cen{
    background-color:rgba(1,1,1,.5);
    color:white;
    border:rgba(255,255,255,0);
}
#der{
    background-color:rgba(255,255,255,.5);
}
h3{
    text-align:center;
    font-size:20px;
    margin-top:10px;
    margin-bottom:10px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}


@media screen and (max-width: 1550px) {
    section>.tres {
        width: 90%;
        margin: 5%;
    }
}




